{% extends "voting/base.html" %}
{% block title %}UKVoting Guidelines{% endblock %}
{% block content %}
  <h1>UKVoting Guidelines</h1>

  <h2>General</h2>
  <ul>
    <li>Votetakers must remain in regular contact with the other votetakers via
      the "ukvotetakers" mailing list. If they are going to be off-net for a
      significant period of time (longer than three weeks), they should notify
      the other votetakers, via the list, in advance.
    <li>Votetakers must ensure that their contact information (including email
      address and telephone number) is kept up to date on the UKVoting website.
    <li>A Coordinator is selected from among the votetakers by an internal
      poll. The selected Coordinator appoints two Deputy Coordinators.
    <li>All votetakers must be subscribed to the "ukvotetakers" mailing list.
      The Coordinator and Deputy Coordinators must be subscribed to the
      "ukvoting" mailing list.
    <li>Votetakers (including the Coordinator) may be expelled from UKVoting by
      an internal poll. The votetaker whose membership is in question does not
      vote.
    <li>Proposed new votetakers must be accepted by an internal poll.
    <li>Official UKVoting statements may be ratified by an internal poll.
      Official statements should be posted to uk.net.news.announce if
      appropriate.
    <li>These rules may be amended by an internal poll.
    <li>Internal polls are carried out on the "ukvotetakers" list by the
      votetakers mailing their vote to the list. Five working days must be
      allowed for votetakers to respond, unless they all respond, in which case
      the poll is immediately complete.
    <li>If it is necessary to take an action that normally requires an internal
      poll in a shorter timescale than five working days, the Coordinator, or
      in the Coordinator's absence a Deputy Coordinator, may take the action
      unilaterally. This action must be subsequently approved by an internal
      poll. If the poll does not approve the action, the action must be undone
      if possible.
  </ul>

  <h2>Votes</h2>
  <ul>
    <li>When a request for a votetaker is received, the Coordinator or a Deputy
      Coordinator should request a votetaker from the "ukvotetakers" list as
      soon as possible. The assignment of a votetaker is at the discretion of
      the Coordinator, or in the absence of the Coordinator, a Deputy
      Coordinator, but usually the first votetaker to respond will be assigned.
    <li>Votetakers must not take a vote if they took a partial position in the
      discussion which resulted in the CFV.
    <li>The assigned votetaker for a vote must keep the database entry for the
      vote on the www.ukvoting.org.uk web site updated at all times.
    <li>All email addresses used for receiving votes must go through the
      UKVoting central mail server.
    <li>The votetaker must conduct the vote in good faith. No other party
      outside of UKVoting may instruct the votetaker in how to operate the
      vote; however the votetaker must take into consideration any comments
      made, including the origin of the comments. The votetaker must bear in
      mind at all times that the vote is being taken on behalf of, and for the
      benefit of, the external organisation.
    <li>If the votetaker is considered not to be conducting the vote according
      to best current practice, is not following the UKVoting guidelines or the
      guidelines of the requesting organisation, or is in any other way not
      conducting the vote in an appropriate manner, the votetaker may be
      removed by an internal poll. If the votetaker is removed, a new votetaker
      shall be assigned as soon as possible by the Coordinator or a Deputy
      Coordinator.
    <li>Votetakers may not vote in votes they are operating.
    <li>If the smooth progress of any vote is threatened by circumstances
      outside the votetaker's control, they must inform the "ukvotetakers"
      mailing list as soon as possible, and consider whether or not the vote
      should be handed to another votetaker.
    <li>If there is no contact for an extended period of time (such period to
      be not less than 5 working days) with a votetaker currently assigned to a
      vote then the votetaker may be declared absent by an internal poll. In
      this situation a new votetaker should then be appointed by the
      Coordinator or a Deputy Coordinator. If there is already a secondary
      votetaker assigned to the vote then they should be promoted to primary.
  </ul>

  <h2>Two-votetaker votes</h2>
  <ul>
    <li>If a vote is considered particularly important or sensitive - for
      example, UK Usenet Committee elections, uk.* Guidelines changes, or where
      the proponent of a vote is a UKVoting member - a secondary votetaker
      should also be called for in the same way as and at the same time as the
      call for the primary votetaker.
    <li>The secondary votetaker should keep a copy of all ballot requests and
      votes received, but will not normally perform any other actions unless
      they are promoted to primary votetaker.
    <li>All the restrictions on absence, public comment, etc that apply to the
      primary votetaker apply equally to the secondary votetaker at all times.
    <li>If the primary votetaker indicates that they cannot continue the vote,
      or is declared absent, then the secondary votetaker should immediately
      take over the vote and attempt to bring the vote back on track.
  </ul>

  <h2>Preparing a vote</h2>
  <ul>
    <li>After having agreed to undertake a vote, the votetaker must contact the
      proponent by email within 48 hours of having the vote allocated to them.
      While the time taken to prepare the CFV will depend on the proponent's
      responses, the aim should be to have a draft CFV ready within one week.
    <li>All CFVs and voting procedures must conform to the rules laid down by
      the organisation on whose behalf the vote is being taken (for example,
      "Voting Procedures within the UK hierarchy" for uk.* hierarchy votes).
    <li>The draft CFV and ballot paper for all votes must be emailed to the
      "ukvotetakers" mailing list as soon as it is ready, and a minimum of
      three working days allowed for any comment before the CFV is implemented.
      Any significant or unusual changes to any of the standard parts of the
      CFV or ballot paper must be explicitly pointed out. If any changes are
      subsequently made (other than trivial corrections to spelling or
      grammar), the new version must again be emailed to the list, with a list
      of the changes, and a further three working days allowed. The votetaker
      must consider comments received, but is not compelled to act on them.
  </ul>

  <h2>During the voting period</h2>
  <ul>
    <li>During the voting period, the votetaker should not be off-net for
      greater than 48 hours consecutively. Votes must be acknowledged votes
      within five days of receiving them. Even if acknowledgements are
      automated, votes must be manually inspected within five days of receipt
      to check validity.
    <li>Votetakers must not make any public comment on the subject of a vote
      they are undertaking until the vote is complete, except to clarify
      procedural issues. In particular, any information regarding the progress
      of the vote (for example, how many people have voted, or how well
      different options are doing) must never be disclosed during the vote.
    <li>A vote is not "complete" until the results are issued, and any
      complaints have been ruled on by the committee, and the deadline for any
      further complaints has expired.
    <li>After a vote is complete, there are no further restrictions on public
      comments by the votetaker for that vote in their capacity as a private
      individual, except that any information received by the votetaker in
      confidence in their capacity as votetaker must be kept confidential.
  </ul>

  <h2>After the voting period</h2>
  <ul>
    <li>Votetakers should aim to produce the draft results within one week of
      the close of the vote. If, for whatever reason, this is not possible, a
      summary of progress and the expected timetable must be posted to the
      "ukvotetakers" list within one week of the close of the vote, and updates
      provided thereafter at least once a week. Progress reports should also
      be made to the external organisation (for uk.* hierarchy votes these
      reports should be posted to appropriate newsgroups).
    <li>The results posting for all votes must be emailed to the "ukvotetakers"
      mailing list as soon as it is ready, and a minimum of three working days
      allowed for any comment before the result is made public. Any significant
      or unusual changes to any of the standard parts of the results must be
      explicitly pointed out. If any changes are subsequently made (other than
      trivial corrections to spelling or grammar), the new version must again
      be emailed to the list, with a list of the changes, and a further three
      working days allowed. The votetaker must consider comments received, but
      is not compelled to act on them.
  </ul>
{% endblock %}
